alembic==1.7.4
appdirs==1.4.4
asyncore-wsgi==0.0.10
attrs==21.2.0
Automat==20.2.0
autopep8==1.5.7
banal==1.0.6
bottle
CacheControl==0.12.6
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
constantly==15.1.0
cryptography==35.0.0
cssselect==1.1.0
dataset==1.5.0
discord-webhook==0.14.0
fake-useragent==0.1.11
Faker==9.2.0
furl==2.1.3
h2
hpack
hyperframe
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
itemadapter==0.4.0
itemloaders==1.0.4
jedi==0.18.0
Jinja2==3.0.2
jmespath==0.10.0
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
msgpack==1.0.2
orderedmultidict==1.0.1
packaging==21.0
parsel==1.6.0
parso==0.8.2
pip-api==0.0.22
pip-download==0.4.2
pip-review==1.1.0
priority
Protego==0.1.16
pudb==2021.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.10.0
PyHamcrest==2.0.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.3
queuelib==1.6.2
requests==2.26.0
retrying==1.3.3
Scrapy==2.5.1
scrapy-fake-useragent==1.4.4
scrapy-splash==0.8.0
selenium==3.141.0
Send2Trash==1.8.0
service-identity==21.1.0
six==1.16.0
SQLAlchemy==1.4.25
text-unidecode==1.3
tinydb==4.5.2
toml==0.10.2
Twisted
typing-extensions==3.10.0.2
tzlocal==3.0
urllib3==1.26.7
urwid==2.1.2
w3lib==1.22.0
zope.interface==5.4.0
